*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

.input {
    display: flex;
    justify-content: space-around;
}

#items {
    margin: 1.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    font-size: 1.25rem;
}

.item:hover {
    color: red;
    text-decoration: line-through;
}